.card {
  height: 500px;
  width: 600px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 14px 28px rgba(102, 103, 171, 0.25),
    0 10px 10px rgba(102, 103, 171, 0.2);
  border: 1px solid #000;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 600px) {
  .card {
    width: 100vw;
    height: 70vh;
    border: 0;
  }
}
